files__pycache__/
.idea
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
example/test/
example/wrapper/bak/
example/wrapper/robot.conf
bak-xarm/
.vscode/
.DS_Store
example/wrapper/Archive.zip
/example/cg-lab-examples/color_calib/
/example/cg-lab-examples/depth_calib/
